body {
    max-width: 1100px;
    margin: auto;
    margin-top: 15px;
}

.card-body > .btn {
    margin: auto;
    width: 45%;
    margin-bottom: 10px;
    margin-right: 5px;
}

.breadcrumb {
    margin-right: 15px;
    margin-left: 15px;
}
