body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

.container {
    width: auto;
    max-width: 1200px;
    padding: 0 15px;
}

.link-btn {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 10px;
}

.col {
    max-width: 50%;
}
